* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main {
    background-color: red;
}

.cards {
    display: grid;
/*    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    background-color: greenyellow;
} 


.card {
    /* card look & feel */
    background-color: white; /* #00B4D8; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    /* card square */
    position: relative;
    padding-bottom: 100%; /* allows place stuff inside the container without affecting the padding */
    height: 0;
    overflow: hidden;
}


.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

