.app-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh; /* 3 */
}

.tweets {
    background-color: #A2DED0;
}

.replies {
    background-color: red;
}